.App {
  text-align: center;
}

.clickObject {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.contextMenu {
  height: 200px;
  width: 100px;
  background-color: lightcoral;
}

.menuChoice:hover {
  background-color: lightskyblue;
}